<h1><%= @state.name %> Cities</h1>
<a href="/states">All States</a> | <a href="/cities">All Cities</a> |

<% @cities.each do |city| %>
<h3><%= city.name %></h3>
<ul>
  <p>Population Estimates, July 1, 2021: <%=city.population %></p>
  <p>Owner Occupied Housing Unit Rate, 2016-2020: <%=city.owner_occupied_housing_unit_rate %>%</p>
  <p>Form of Government: <%=city.form_of_gov %></p>
  <p>Size in: <%=city.size %> mi^2</p>
  <p>Median Household Income (in 2020 Dollars), 2016-2020: $<%=city.median_household_income %></p>
  <p>Has public transportation: <%=city.public_transit %></p>
</ul>
<% end %>

<a href="/states/<%= @state.id %>/cities/new">Add City</a>