<h1>Add a New City Record for <%= @state.name %> State</h1>

<%= form_with url: "/states/#{@state.id}/cities", method: :post, local: true do |form| %>

       <%= form.label :Name %>
  <br/><%= form.text_field :name %><br/>
  <br/><%= form.label :Population %>
  <br/><%= form.text_field :population %><br/>
  <br/><%= form.label :Owner_Occupied_Housing_Unit_Rate %>
  <br/><%= form.text_field :owner_occupied_housing_unit_rate %><br/>
  <br/><%= form.label :Form_of_Government %>
  <br/><%= form.text_field :form_of_gov %><br/>
  <br/><%= form.label :Size %>
  <br/><%= form.text_field :size %><br/>
  <br/><%= form.label :Median_Household_Income %>
  <br/><%= form.text_field :median_household_income %><br/>
  <br/><%= form.label :Public_Transit %>
  <br/><%= form.label :True %> 
  <%= form.radio_button :public_transit, "true" %>
  <br/><%= form.label :False %> 
  <%= form.radio_button :public_transit, "false" %><br/>
  
  <br/><%= form.submit "Create City" %>

  <% end %>