<h1>Update the <%= @state.name %> State Record</h1>
<p>Update only the fields desired.</p>

<%= form_with url: "/states/#{@state.id}", method: :patch, local: true do |form| %>

       <%= form.label :Name %>
  <br/><%= form.text_field :name, :value => "#{@state.name}" %><br/>
  <br/><%= form.label :Population %>
  <br/><%= form.text_field :population, :value => "#{@state.population}" %><br/>
  <br/><%= form.label :GDP%>
  <br/><%= form.text_field :gdp, :value => "#{@state.gdp}" %><br/>
  <br/><%= form.label :Size %>
  <br/><%= form.text_field :size, :value => "#{@state.size}" %><br/>
  
  <br/><%= form.label :Coastal_state %>
  <br/><%= form.label :True %> 
  <%= form.radio_button :coastal, "true", :checked => ("#{@state.coastal}" == "true") %>
  <br/><%= form.label :False %> 
  <%= form.radio_button :coastal, "false", :checked => ("#{@state.coastal}" == "false") %><br/>
  
  <br/><%= form.submit "Edit State" %>

  <% end %>