<h1>List of States</h1>
<a href="/cities">All Cities</a> |

<ul><% @states.each do |state| %>
  <h3><a href="/states/<%= state.id %>"><%= state.name %></a></h3>
  <a href="/states/<%= state.id %>/edit">Edit</a>
  <br/><%= link_to "Delete #{state.name}", "/states/#{state.id}", method: :delete %>
  <p>Created on <%= state.created_at %></p>
  <% end %>
</ul>

<a href="/states/new">Add State</a>
<a href="/">Home</a>