<h1>Add a New State Record</h1>

<%= form_with url: "/states", method: :post, local: true do |form| %>

       <%= form.label :Name %>
  <br/><%= form.text_field :name %><br/>
  <br/><%= form.label :Population %>
  <br/><%= form.text_field :population %><br/>
  <br/><%= form.label :GDP%>
  <br/><%= form.text_field :gdp %><br/>
  <br/><%= form.label :Size %>
  <br/><%= form.text_field :size %><br/>
  
  <br/><%= form.label :Coastal_state %>
  <br/><%= form.label :True %> 
  <%= form.radio_button :coastal, "true" %>
  <br/><%= form.label :False %> 
  <%= form.radio_button :coastal, "false" %><br/>
  
  <br/><%= form.submit "Create State" %>

  <% end %>