<h1><%= @state.name %></h1>
<a href="/states">All States</a> | <a href="/cities">All Cities</a> |

<h3>State Facts</h3>
<ul>
<li>State Population: <%= @state.population %> million</li>
<li>State GDP: <%= @state.gdp %> billion dollars</li>
<li>State Size: <%= @state.size %> mi<sup>2<sup></li>
<li>Is it a coastal state?: <%= @state.coastal %></li>
<li>Total number of cities: <%= @state.count %></li>
</ul>

<a href="/states/<%= @state.id %>/edit">Update State</a><br/>

<br/><%= link_to 'Delete State', "/states/#{@state.id}", method: :delete %>

<h3> Cities </h3>
<a href="/states/<%=@state.id %>/cities">View All Cities</a>
<ul>
<% @state.cities.each do |city| %>
    <li> <a href="/cities/<%= city.id %>"> <%= city.name %> </a> </li>
<% end %>
</ul>

<a href="/states/<%= @state.id %>/cities/new">Add City</a>