<h1><%= @state.name %></h1>

<ul>
<li>State Population: <%= @state.population %> million</li>
<li>State GDP: <%= @state.gdp %></li>
<li>State Size: <%= @state.size %> mi^2</li>
<li>Is it a coastal state?: <%= @state.coastal %></li>
<li>Total number of cities: <%= @state.count %></li>
</ul>