<h1>Update the Record for the City of <%= @city.name %></h1>

<%= form_with url: "/cities/#{@city.id}", method: :patch, local: true do |form| %>

       <%= form.label :Name %>
  <br/><%= form.text_field :name, :value => "#{@city.name}" %><br/>
  <br/><%= form.label :Population %>
  <br/><%= form.text_field :population, :value => "#{@city.population}" %><br/>
  <br/><%= form.label :Owner_Occupied_Housing_Unit_Rate %>
  <br/><%= form.text_field :owner_occupied_housing_unit_rate, :value => "#{@city.owner_occupied_housing_unit_rate}" %><br/>
  <br/><%= form.label :Form_of_Government %>
  <br/><%= form.text_field :form_of_gov, :value => "#{@city.form_of_gov}" %><br/>
  <br/><%= form.label :Size %>
  <br/><%= form.text_field :size, :value => "#{@city.size}" %><br/>
  <br/><%= form.label :Median_Household_Income %>
  <br/><%= form.text_field :median_household_income, :value => "#{@city.median_household_income}" %><br/>
  <br/><%= form.label :Public_Transit %>
  <br/><%= form.label :True %> 
  <%= form.radio_button :public_transit, "true", :checked => ("#{@city.public_transit}" == "true") %>
  <br/><%= form.label :False %> 
  <%= form.radio_button :public_transit, "false", :checked => ("#{@city.public_transit}" == "false") %><br/>
  
  <br/><%= form.submit "Edit City" %>

  <% end %>