<h1><%= @city.name %></h1>
<a href="/states">All States</a> | <a href="/cities">All Cities</a> | 

<ul>
  <p>Population Estimates, July 1, 2021: <%=@city.population %></p>
  <p>Owner Occupied Housing Unit Rate, 2016-2020: <%=@city.owner_occupied_housing_unit_rate %>%</p>
  <p>Form of Government: <%=@city.form_of_gov %></p>
  <p>Size in: <%=@city.size %> mi^2</p>
  <p>Median Household Income (in 2020 Dollars), 2016-2020: $<%=@city.median_household_income %></p>
  <p>Has public transportation: <%=@city.public_transit %></p>
</ul>

<a href="/cities/<%= @city.id %>/edit">Update City</a>